<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web eCommerce</title>
    	<link rel="stylesheet" href="css/bootstrap.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
      <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container">
      <nav class="menu-nav" role="navigation">
        <div class="row">
          	<!-- logo -->
          <div class="col-md-3 col-xs-2">
            <div id="ecm-logo"><a href="index.html">Subarashi</a></div>
          </div>
          	<!-- menu  -->
            <nav class="col-md-6 ">
              <form class="form-cari">
                <input class=" aturan " type="search" placeholder="Search" aria-label="Search">
                <button class="btn-cari " type="submit">Search</button>
              </form>
            </nav>
            <div class="col-md-3 btn-menu">
              <div id="btn-logo"><a class="btn-daftar" href="daftar.html">Daftar</a></div>
              <div id="btn-logo"><a class="btn-login" href="login.html">Login</a></div>
            </div>
        </div>
      </nav>
      <div class="gambar mySlides">
              <img src="img/slider-1.jpg" class="gambar-isi" alt="">
              <div class="dalam-banner col-md-12">
                <div class="kotak-banner">
                  <div class="tulisan-banner col-md-8">
                    <h2>New Arival</h2>
                    <p>Sepatu</p>
                    <a href="#">Lihat Selengkapnya</a>
                  </div>
                  <div class="col-md-4">

                  </div>
                </div>
              </div>
      </div>

      <div class="gambar mySlides">
              <img src="img/slider-2.jpg" class="gambar-isi" alt="">
              <div class="dalam-banner col-md-12">
                <div class="kotak-banner">
                  <div class="tulisan-banner col-md-8">
                    <h2>New Arival</h2>
                    <p>Baju</p>
                    <a href="#">Lihat Selengkapnya</a>
                  </div>
                  <div class="col-md-4">

                  </div>
                </div>
              </div>
      </div>

      <div class="gambar mySlides">
              <img src="img/slider-3.jpg" class="gambar-isi" alt="">
              <div class="dalam-banner col-md-12">
                <div class="kotak-banner">
                  <div class="tulisan-banner col-md-8">
                    <h2>New Arival</h2>
                    <p>Jaket</p>
                    <a href="#">Lihat Selengkapnya</a>
                  </div>
                  <div class="col-md-4">

                  </div>
                </div>
              </div>
      </div>
    <div class="artikel-luar">
<div class="barang col-md-12">
  <div class="col-md-3">
    <div class="sale">
      <h6>70%</h6>
    </div>
    <img class="gmb-artikel2"src="img/celana.jpg" alt="">
  </div>
  <div class="col-md-3">
    <div class="sale">
      <h6>70%</h6>
    </div>
    <img class="gmb-artikel2"src="img/sepatu.jpg" alt="">
  </div>
  <div class="col-md-3">
    <div class="sale">
      <h6>70%</h6>
    </div>
    <img class="gmb-artikel2"src="img/kemeja1.png" alt="">
  </div>
  <div class="col-md-3">
    <div class="sale">
      <h6>70%</h6>
    </div>
    <img class="gmb-artikel2"src="img/kemeja.png" alt="">
  </div>
</div>
    </div>

    <div class="kategory col-md-12">
      <div class="barang-bawah col-md-3">
        <img class="gmb-artikel1"src="img/featured_img_1.jpg" alt="">
        <div class="overlay"> <a href="celana.html">CELANA</a></div>
      </div>
      <div class="barang-bawah col-md-3">
        <img class="gmb-artikel1"src="img/slider-2.jpg" alt="">
        <div class="overlay"> <a href="baju.html">BAJU</a></div>
      </div>
      <div class="barang-bawah col-md-3">
        <img class="gmb-artikel1"src="img/slider-3.jpg" alt="">
        <div class="overlay"> <a href="jaket.html"> JAKET</a></div>
      </div>
      <div class="barang-bawah col-md-3">
        <img class="gmb-artikel1"src="img/slider-1.jpg" alt="">
        <div class="overlay"> <a href="sepatu.html">SEPATU</a></div>
      </div>
      <div class="col-md-12">
        <h5 class="judul"></h5>
      </div>
    </div>
    <nav class="menu-nav" role="navigation">
      <div class="row">
        <div class="col-md-3 col-xs-2">
          <div id="ecm-logo">Semua Barang</div>
        </div>
          <div class="col-md-8 border-bwh">
          </div>
      </div>
    </nav>
    <div class="data-produk col-md-12 "ng-app="myApp" ng-controller="myCtrl">
<h6 class="berita">Total Barang :  {{ count }}</h6>
      <div class="produku col-md-3">
      <a href="katalog.html">
        <img class="gmb-artikel"src="img/sepatu/sepatu1.png" alt="">
        <h6> Vans</h6>
        <p> Authentic</p>
        <p class="deskriosi">RP.699.000</p>
        <button class="btn-tmb" ng-click="count = count - 1">Hapus</button>
        <button class="btn-hps" ng-click="count = count + 1">Tambah</button>
      </div>
      <div class="produku col-md-3">
      <a href="katalog.html">
        <img class="gmb-artikel"src="img/sepatu/sepatu2.png" alt="">
        <h6> Vans</h6>
        <p> Gum Authentic</p>
        <p class="deskriosi">RP.699.000</p>
        </a>
        <button class="btn-tmb" ng-click="count = count - 1">Hapus</button>
        <button class="btn-hps" ng-click="count = count + 1">Tambah</button>
      </div>
      <div class="produku col-md-3">
      <a href="katalog.html">
        <img class="gmb-artikel"src="img/sepatu/sepatu3.png" alt="">
        <h6> Vans</h6>
        <p> Authentic</p>
        <p class="deskriosi">RP.699.000</p>
        </a>
        <button class="btn-tmb" ng-click="count = count - 1">Hapus</button>
        <button class="btn-hps" ng-click="count = count + 1">Tambah</button>
      </div>
      <div class="produku col-md-3">
      <a href="katalog.html">
        <img class="gmb-artikel"src="img/sepatu/sepatu4.png" alt="">
        <h6> Vans</h6>
        <p> Old Skool</p>
        <p class="deskriosi">RP.799.000</p>
        </a>
        <button class="btn-tmb" ng-click="count = count - 1">Hapus</button>
        <button class="btn-hps" ng-click="count = count + 1">Tambah</button>
      </div>
      <div class="produku col-md-3">
      <a href="katalog.html">
        <img class="gmb-artikel"src="img/sepatu/sepatu5.png" alt="">
        <h6> Vans</h6>
        <p> Old Skool</p>
        <p class="deskriosi">RP.799.000</p>
        </a>
        <button class="btn-tmb" ng-click="count = count - 1">Hapus</button>
        <button class="btn-hps" ng-click="count = count + 1">Tambah</button>
      </div>
      <div class="produku col-md-3">
      <a href="katalog.html">
        <img class="gmb-artikel"src="img/sepatu/sepatu6.png" alt="">
        <h6> Vans</h6>
        <p> Slip-On</p>
        <p class="deskriosi">RP.550.000</p>
        </a>
        <button class="btn-tmb" ng-click="count = count - 1">Hapus</button>
        <button class="btn-hps" ng-click="count = count + 1">Tambah</button>
      </div>
      <div class="produku col-md-3">
      <a href="katalog.html">
        <img class="gmb-artikel"src="img/sepatu/sepatu7.png" alt="">
        <h6> Vans</h6>
        <p> Sk8-Hi</p>
        <p class="deskriosi">RP.850.000</p>
        </a>
        <button class="btn-tmb" ng-click="count = count - 1">Hapus</button>
        <button class="btn-hps" ng-click="count = count + 1">Tambah</button>
      </div>
      <div class="produku col-md-3">
      <a href="katalog.html">
        <img class="gmb-artikel"src="img/sepatu/sepatu8.jpg" alt="">
        <h6> Vans</h6>
        <p> Gum Authentic</p>
        <p class="deskriosi">RP.699.000</p>
        </a>
        <button class="btn-tmb" ng-click="count = count - 1">Hapus</button>
        <button class="btn-hps" ng-click="count = count + 1">Tambah</button>
      </div>
      <div class="pag-nav">
      <ul class="pagination pagination-sm inline">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
    </div>
      <div class="footer col-md-12">
          <div class="footer-kiri col-md-6">
            <h6>@copyright  <a href="#">Jualan apa aja</a> 2018 </h6>
          </div>
          <div class="footer-kanan col-md-6">
            <h6><a href="tentang.html">TENTANG KAMI</a></h6>
          </div>
      </div>
    </div>
<script type="text/javascript">
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 4000);
}
</script>

      <script src="js/angular.min.js"></script>
	   <script src="js/jquery.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
  </body>
</html>
